server {
        listen 443 ssl;
        listen [::]:443 ssl;
        root /var/www/html/wordpress;
        index  index.php index.html index.htm;
        server_name jpfannku.42.fr www.jpfannku.42.fr;

        ssl_certificate /etc/nginx/ssl/nginx-signed.crt;
        ssl_certificate_key /etc/nginx/ssl/nginx-signed.key;
        ssl_protocols TLSv1.2;

        location / {
                try_files $uri $uri/ =404;
        }
        location ~ \.php$ {
        }
}

server {
        listen 80;
        listen [::]:80;
        server_name jpfannku.42.fr www.jpfannku.42.fr;

        return 301 https://$server_name$request_uri;
}
